In [1]:
from yahooquery import Ticker
import pandas
tick = Ticker('LT.NS ', asynchronous=True)

In [2]:
history = tick.history()
#history is a pandas dataframe
history

                         close    volume         open          low  \
symbol date
LT.NS  2021-01-01  1297.000000   2058419  1283.000000  1283.000000
       2021-01-04  1314.599976   4014636  1305.000000  1302.000000
       2021-01-05  1306.300049   2833637  1307.000000  1295.050049
       2021-01-06  1314.000000   4615963  1308.000000  1300.000000
       2021-01-07  1338.949951   4270598  1330.000000  1325.000000
       2021-01-08  1373.400024   4984995  1349.800049  1347.000000
       2021-01-11  1350.000000   3252470  1382.000000  1345.000000
       2021-01-12  1349.800049   2836161  1354.000000  1344.050049
       2021-01-13  1352.500000   4389762  1354.000000  1344.300049
       2021-01-14  1376.599976   5168591  1358.000000  1356.250000
       2021-01-15  1354.150024   2587576  1376.699951  1345.050049
       2021-01-18  1336.050049   3185998  1345.199951  1326.150024
       2021-01-19  1369.849976   3885798  1340.050049  1337.000000
       2021-01-20  1382.650024   3957992  1369.000000  1362.550049
       2021-01-21  1371.300049   2985423  1395.000000  1361.050049
       2021-01-22  1362.099976   3282665  1362.000000  1348.500000
       2021-01-25  1361.300049   4847989  1370.000000  1342.000000
       2021-01-27  1359.849976   8896211  1368.800049  1330.099976
       2021-01-28  1345.349976   2962948  1344.699951  1340.000000
       2021-01-29  1334.699951   5130876  1362.000000  1325.099976
       2021-02-01  1448.849976  11317043  1345.750000  1337.199951
       2021-02-02  1520.199951  14349665  1474.000000  1474.000000
       2021-02-03  1528.550049   6195999  1530.000000  1505.000000

                          high     adjclose
symbol date
LT.NS  2021-01-01  1299.949951  1297.000000
       2021-01-04  1322.550049  1314.599976
       2021-01-05  1313.000000  1306.300049
       2021-01-06  1330.000000  1314.000000
       2021-01-07  1346.800049  1338.949951
       2021-01-08  1382.949951  1373.400024
       2021-01-11  1384.949951  1350.000000
       2021-01-12  1366.849976  1349.800049
       2021-01-13  1373.000000  1352.500000
       2021-01-14  1389.699951  1376.599976
       2021-01-15  1384.500000  1354.150024
       2021-01-18  1353.849976  1336.050049
       2021-01-19  1382.000000  1369.849976
       2021-01-20  1393.050049  1382.650024
       2021-01-21  1396.000000  1371.300049
       2021-01-22  1375.000000  1362.099976
       2021-01-25  1396.400024  1361.300049
       2021-01-27  1392.699951  1359.849976
       2021-01-28  1365.099976  1345.349976
       2021-01-29  1369.000000  1334.699951
       2021-02-01  1462.000000  1448.849976
       2021-02-02  1593.000000  1520.199951
       2021-02-03  1558.000000  1528.550049

In [5]:
#https://www.geeksforgeeks.org/saving-a-pandas-dataframe-as-a-csv/
history.to_csv('LT.csv')